img {
  position: relative;
  top: 100px;
  left:-100px;
  -webkit-animation: moving 5s linear 0s infinite alternate;
  animation: moving 5s linear 0s infinite alternate;
}

@-webkit-keyframes moving {
  from { left:0 }
  to { left:1000px }

}
@keyframes moving {
  from { left:0 }
  to { left:1000px }
}
